#search{
    width: 450px;
    height: 32px;
    
}
th{
    color: white;
}
#btn{
    width: 120px;
    height: 37px;
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#sayan{
    padding: 20px;
}
.tle{
    background-color: white;
}

#bag1{
    width: 25%;
}
#scl{
    color: green;
    font-size: 27px;
}
#price{

    color: green;
    font-size: 5;
}
#grey{
    color: grey;
    font-size: 12px;
}
.menu{
    font-size: 1rem;
}
#yellow{
    background-color:orange;
    width: 200px;
    height: 35px;
    color: white;
}
#green{
    background-color: green;
    width: 200px;
    height: 35px;
    color: white;
}
#show{
    height: 2rem;
    width: 10rem;
    background-color: blue;
    color: white;
}
.prime{
    background-color:#2874F0;
    color: white;
    height: 15rem;
}
.first{
    background-color: black;
    color: white;
    height: 42px;
}
.firsts{
    background-color: black;
    color: white;
    text-align: center;
    height: 42px;

}






















